<a href="https://colab.research.google.com/github/MarcosMorales2011/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_t_tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [1]:
### YOUR WORK HERE
import pandas as pd
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

automobile = pd.read_csv(url)
automobile.columns = ['Symboling', 'Normalized-losses', 'Make', 'Fuel Type', 'Aspiration', '# Of Doors', 'Body-Style', 'Drive-wheels', 'Engine-location', 'Wheel-Base', 'Length', 'Width', 'Height', 'Curb-Weight', 'Engine-type', 'Num-of-Cylinders', 'Engine-size', 'Fuel-system', 'bore', 'stroke' ,'Compression-radio', 'Horsepower', 'Peak-RPM', 'City-MPG', 'Highway-MPG', 'Price']

In [2]:
automobile.head()

   Symboling Normalized-losses         Make  ... City-MPG Highway-MPG  Price
0          3                 ?  alfa-romero  ...       21          27  16500
1          1                 ?  alfa-romero  ...       19          26  16500
2          2               164         audi  ...       24          30  13950
3          2               164         audi  ...       18          22  17450
4          2                 ?         audi  ...       19          25  15250

[5 rows x 26 columns]

In [3]:
import numpy as np

In [4]:
automobile_clean = automobile.replace('?', np.NaN)

In [5]:
automobile_clean.head()

   Symboling Normalized-losses         Make  ... City-MPG Highway-MPG  Price
0          3               NaN  alfa-romero  ...       21          27  16500
1          1               NaN  alfa-romero  ...       19          26  16500
2          2               164         audi  ...       24          30  13950
3          2               164         audi  ...       18          22  17450
4          2               NaN         audi  ...       19          25  15250

[5 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [6]:
### YOUR WORK HERE

ten_cars = automobile_clean.sample(10, random_state = 30 )

In [9]:
automobile_clean['Highway-MPG'].describe()

count    204.000000
mean      30.769608
std        6.898337
min       16.000000
25%       25.000000
50%       30.000000
75%       34.500000
max       54.000000
Name: Highway-MPG, dtype: float64

In [8]:
ten_cars['Highway-MPG'].describe()

count    10.000000
mean     30.300000
std       4.347413
min      25.000000
25%      28.000000
50%      29.000000
75%      31.750000
max      38.000000
Name: Highway-MPG, dtype: float64

In [ ]:
# They are very similar.

In [ ]:
# alpha = 0.05

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [ ]:
# Null Hypothesis, the sample mean and the population mean are the same.

In [10]:
ten_cars.head()

     Symboling Normalized-losses           Make  ... City-MPG Highway-MPG  Price
146          0                89         subaru  ...       25          31  10198
67          -1                93  mercedes-benz  ...       22          25  28248
26           1               148          dodge  ...       24          30   8558
155          0                91         toyota  ...       30          37   6938
135          3               150           saab  ...       19          26  18150

[5 rows x 26 columns]

In [11]:
### YOUR WORK HERE
ten_cars['Highway-MPG'].describe()

count    10.000000
mean     30.300000
std       4.347413
min      25.000000
25%      28.000000
50%      29.000000
75%      31.750000
max      38.000000
Name: Highway-MPG, dtype: float64

In [15]:
from scipy import stats
stats.ttest_1samp(ten_cars['Highway-MPG'], popmean = 35)

Ttest_1sampResult(statistic=-3.4187469470305465, pvalue=0.007643069993182772)

In [ ]:
# The P Values is far below alpha, meaning that

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [12]:
### YOUR WORK HERE
onehundred_cars = automobile_clean.sample(100, random_state = 30 )

In [14]:
onehundred_cars['Highway-MPG'].describe()

count    100.000000
mean      30.530000
std        6.895255
min       16.000000
25%       25.000000
50%       30.000000
75%       34.500000
max       53.000000
Name: Highway-MPG, dtype: float64

In [16]:
stats.ttest_1samp(onehundred_cars['Highway-MPG'], popmean = 35)

Ttest_1sampResult(statistic=-6.4827186446460106, pvalue=3.5481090083532426e-09)

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [ ]:
### YOUR WORK HERE

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [ ]:
### YOUR WORK HERE

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE